@media (max-width: 426px) {
    header.menu {
        max-width: 425px;
        height: 397px;
        text-align: left;
    }

    .menu h3, .menu h1, .menu p{
        width: 90%;
    }
    
    .menu nav {
        max-width: 345px; 
        height: 111px;
        display: flex;
        position: absolute;
        z-index: 2;
        top: 64%;
    }

    .menu nav ul {
        flex-wrap: wrap;
        max-width: 100vw;
    }


}