@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  "css console.log"  */
    /* outline: 1px solid rgb(0, 8, 255) !important; */
}

body {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* SECTION MENU */

header.menu {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    top: 0;
}

header div.bg-polygon {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorSecondary);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 72%);
}

.menu h3 {
    margin-top: 69px;
    font-size: 20px;
    font-weight: 500;
}

.menu h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

.menu p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
}

.menu nav ul {
    width: 769px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu nav ul li {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrimary);
    border-radius: 5px;
    border: 1px solid var(--colorSecondary);
    box-shadow: 0px 1px 6px var(--colorQuaternary);
}

.menu nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--colorTertiary);
    font-size: 14px;
}

.menu nav ul li:hover {
    font-weight: bold;
    box-shadow: 0 1px 6px #0b0b0b;
    cursor: pointer;
}


/* SECTION SUBSCRIBE */

section.subscribe {
    max-width: 925px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 79px;
}


.subscribe .containerContent {
    width: 520px;
    margin-right: 35px;
    color: var(--colorTertiary);
}

.subscribe .containerContent h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.subscribe .containerContent span {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}


/* SUBSCRIBE FORM */

.subscribe #form {
    display: flex;
    flex-direction: column;
}

.subscribe #form label {
    font-size: 12px;
    color: var(--colorTertiary);
}

.subscribe #form label+input {
    display: block;
    width: 340px;
    height: 30px;
    margin: 10px 0;
    border: 1px solid var(--colorSecondary);
}

.subscribe #form .inputRadio {
    width: 180px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    color: var(--colorTertiary);
    margin: 20px 0 23px 0;
    font-size: 12px;
}

.subscribe #form .inputRadio label {
    display: flex;
    align-items: center;
}

.subscribe #form .inputRadio input {
    margin-right: 5px;
}

.subscribe #form button {
    width: 340px;
    height: 39px;
    color: var(--colorTertiary);
    cursor: pointer;
    border: 1px solid var(--colorSecondary);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
}


/* HEADER PRODUCTS */

div.yourSelection {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.yourSelection h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--colorTertiary);
}

.yourSelection h2::before,
.yourSelection h2::after {
    display: inline-block;
    content: '';
    width: 357px;
    height: 2px;
    background-color: var(--colorTertiary);
    margin: 0 17px;
}


/* SECTION PRODUCSTS */

.productList .containerProducts {
    width: 970px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productList .containerProducts .product {
    width: 200px;
    height: 350px;
    margin-bottom: 33px;
}

.productList .containerProducts .product img {
    width: 200px;
    height: 150px;
}

.productList .containerProducts .product div .name {
    font-size: 14px;
    color: var(--colorTertiary);
    margin-bottom: 10px;
}

.productList .containerProducts .product div .description {
    width: 200px;
    height: 60px;
}

.productList .containerProducts .product div p:nth-child(2),
.productList .containerProducts .product div p:nth-child(3),
.productList .containerProducts .product div p:nth-child(4),
.productList .containerProducts .product div p:nth-child(5) {
    display: block;
    font-size: 12px;
    color: var(--colorTertiary);
    font-weight: 300;
}

.productList .containerProducts .product div h3.currentPrice {
    color: var(--colorTertiary);
    font-weight: bolder;
    font-size: 16px;
    margin: 6px 0 6px 0;
}

.productList .containerProducts .product div a.buyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    color: var(--colorTertiary);
    font-size: 16px;
    margin-top: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid var(--colorSecondary);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.productList .containerProducts a.loadProducts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 39px;
    color: var(--colorTertiary);
    font-size: 16px;
    text-decoration: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid var(--colorSecondary);
    border-radius: 4px;
    margin-top: 19px;
    cursor: pointer;
}


/* SECTION SHARE */

div.headerShare {
    display: flex;
    justify-content: center;
    margin-top: 128px;
}

.headerShare h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--colorTertiary);
}

.headerShare h2::before,
.headerShare h2::after {
    display: inline-block;
    content: '';
    width: 357px;
    height: 2px;
    background-color: var(--colorTertiary);
    margin: 0 17px;
}

section.shareSection {
    width: 710px;
    display: flex;
    justify-content: center;
    margin: 44px;
    color: var(--colorTertiary);
}

.shareSection .shareForm {
    display: flex;
    width: 710px;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}

.shareSection .shareForm .formContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 39px;
}

.shareSection .shareForm .formContainer .containerInput label {
    display: block;
    margin-bottom: 7px;
    font-size: 12px;
}

.shareSection .shareForm .formContainer .containerInput input {
    width: 340px;
    height: 30px;
    border: 1px solid var(--colorSecondary);
}

.shareSection .shareForm button {
    width: 260px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid var(--colorSecondary);
    border-radius: 4px;
    font-size: 16px;
    margin-top: 50px;
    color: var(--colorTertiary);
    cursor: pointer;
}


/* FOOTER */

footer {
    width: 100%;
    height: 293px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--colorSecondary);
    border: 1px solid var(--colorSecondary);
    clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0 100%)
}

footer .container {
    margin-bottom: 86px;
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    color: #ffffff;
}

@media (max-width: 425px) {
    header.menu {
        align-items: start;
    }

    .menu h3,
    .menu h1,
    .menu p {
        margin-left: 16px;
    }

    .menu nav ul {
        flex-wrap: wrap;
        width: 100%;
        height: 111px;
        justify-content: space-around;
    }

    section.subscribe {
        flex-direction: column;
        justify-content: none;
        align-items: center;
        width: 100%;
    }

    .subscribe .containerContent {
        width: 90%;
        margin: 0 0 30px 0;
    }

    .subscribe #form {
        width: 90%;
    }

    .subscribe #form label+input {
        width: 100%;
    }

    .subscribe #form button {
        width: 100%;
        height: 39px;
    }

    div.yourSelection {
        width: 100%;
    }

    .yourSelection h2 {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .yourSelection h2::after,
    .yourSelection h2::before {
        width: 21%;
        margin: 0;
    }


    .productList .containerProducts {
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }

    .productList .containerProducts .product {
       width: 100%;
       display: flex;
       justify-content: space-around;
       flex-direction: row;
       height: auto;
    }

    .productList .containerProducts .product img{
        width: 169px;
        height: 129px;
    }

    .productList .containerProducts .product div{
        width: 48%;
        height: auto;
    }
    .productList .containerProducts .product div p.description {
        display: none;
    }
}