:root {
    --colorPrimary: #ffffff;
    --colorSecondary: #707070;
    --colorTertiary: #888888;
    --colorQuaternary: #00000029;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  "css console.log"  */
    /* outline: 1px solid rgb(0, 8, 255) !important; */
}

body {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


/* Section Menu  */
header.menu {
    width: 100%;
    height: 400px;
    background-color: var(--colorSecondary);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 73%);
}

.menu h3 {
    margin-top: 69px;
    font-size: 15px;
    font-weight: 500;
}

.menu h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.menu p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
}

.menu nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu nav ul li a {
    width: 160px;
    height: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--colorTertiary);
    background-color: var(--colorPrimary);
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid var(--colorSecondary);
    box-shadow: 0px 1px 6px var(--colorQuaternary);
    transition: all 500ms ease 100ms;
}

.menu nav ul li a:hover {
    font-weight: bold;
    box-shadow: 0 1px 6px #0b0b0b;
}

/* Section Subscribe */

section.subscribe {
    width: 925px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.subscribe .containerSubscribe {
    display: flex;
    justify-content: start;
    flex-direction: column;
    color: var(--colorTertiary);
}

.subscribe .containerSubscribe .containerContent {
    width: 520px;
    text-align: left;
    margin-right: 35px;
}

.subscribe .containerSubscribe .containerContent h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.subscribe .containerSubscribe .containerContent span {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}


/* Subscribe form */

.subscribe #form {
    display: flex;
    /* margin-left: 25px; */
    flex-direction: column;
}

.subscribe #form label {
    font-size: 12px;
    color: var(--colorTertiary);
}

.subscribe #form label+input {
    display: block;
    width: 340px;
    height: 30px;
    margin: 10px 0;
    border: 1px solid var(--colorSecondary);
}

.subscribe #form .inputRadio {
    width: 180px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    color: var(--colorTertiary);
    margin: 20px 0 23px 0;
    font-size: 12px;
}

.subscribe #form .inputRadio label {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 55px;
}

.subscribe #form .inputRadio input {
    margin-right: 5px;
}

.subscribe #form button {
    width: 340px;
    height: 39px;
    color: var(--colorTertiary);
    cursor: pointer;
    border: 1px solid var(--colorSecondary);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
}


/* Section Products */

div.yourSelection {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.yourSelection h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--colorTertiary);
}

.yourSelection h2::before,
.yourSelection h2::after {
    display: inline-block;
    content: '';
    width: 357px;
    height: 2px;
    background-color: var(--colorTertiary);
    margin: 0 17px;
}


/* SECTION PRODUCSTS */

section.productList {
    display: flex;
    justify-content: center;
}

.productList .containerProducts {
    width: 970px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productList .containerProducts .product {
    width: 200px;
    height: 350px;
    margin-bottom: 33px;
}

.productList .containerProducts .product img {
    width: 200px;
    height: 150px;
}

.productList .containerProducts .product .name {
    font-size: 14px;
    color: var(--colorTertiary);
    margin-bottom: 10px;
}

.productList .containerProducts .product .description {
    width: 200px;
    height: 60px;
}

.productList .containerProducts .product p:nth-child(3),
.productList .containerProducts .product p:nth-child(4),
.productList .containerProducts .product p:nth-child(6) {
    display: block;
    font-size: 12px;
    color: var(--colorTertiary);
    font-weight: 300;
}

.productList .containerProducts .product h3.currentPrice {
    color: var(--colorTertiary);
    font-weight: bolder;
    font-size: 16px;
    margin: 6px 0 6px 0;
}

.productList .containerProducts .product a.buyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    color: var(--colorTertiary);
    font-size: 16px;
    margin-top: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid var(--colorSecondary);
    border-radius: 4px;
    cursor: pointer;
}